:root{ 
    /* dat ten cho cac bien thuong dung */
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color:#ee4d2d;
    --border-color: #dbdbdb;
    --star-color: #D0011B;

    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

*{
    box-sizing: inherit;
    /* giup giu nguyen kich thuoc  */
}

html{
    font-size: 62.5%;
    /* tuong ung 1 rem = 10px */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* responsive */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid_full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
/* test */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

/* chuyen dong */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growth {
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}
/* start modal */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    animation: fadeIn linear 0.15s;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    background: var(--white-color);
    border-radius: 5px;
    margin: auto;
    z-index: 1;
    /* de lop body nam tren lop overlay */
    animation: growth linear 0.1s;
}
/* end modal */


/* start button style */

.btn {
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    cursor: pointer;
    color:var(--text-color);
    outline: none;
    background: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn.btn--normal:hover{
    background: rgba( 0,0,0,0.05);
}

.btn.btn--size-s{
    height: 30px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn.btn--primary{
    background: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disabled{
    cursor: default;
    background-color: #c3c3c3;
    color:#949494;
}
/* end button style */

/* start selection */
.select-input{
    position: relative;
    padding: 0 12px;
    height: 34px;
    min-width: 200px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top:calc(100% - 8px);
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    border: 2px solid rgba( 0,0,0,0.05);
    display: none;
}



.select-input__link{
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 4px 2px;
}

.select-input__link:hover{
    color:var(--primary-color);
}
/* end selection */
